<div class="tab-pane fade" id="v-pills-marcas" role="tabpanel" aria-labelledby="v-pills-marcas-tab">

    <div class="row">

        <div class="col">

            <button type="button" class="btn btn-success btn-block mb-1" data-bs-toggle="modal" data-bs-target="#marcaModal">
                <i class="fas fa-copyright"></i> Agregar Marca
            </button>

            <button type="button" class="btn btn-primary btn-block mb-1" id="btn-refresh-marcas"><i class="fa fa-repeat"></i> Actualizar Marcas
            </button>

        </div>

    </div>

    <div class="row mt-3">

        <div class="col">

            {% include '/views/inventario/tables/table_marcas.html' %}

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="marcaModal" tabindex="-1" aria-labelledby="marcaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="marcaModalLabel"><b>Agregar Marca</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="form_marca">
                    <div class="modal-body">

                        <div class="modal-body row g-3">

                            <div class="col-md-12">
                                <label class="form-label fs-5"><b>* Nombre de la Marca:</b></label>
                                <input type="text" class="form-control fs-5 border border-dark" id="mar_nombre"
                                    name="mar_nombre" placeholder="Ejem. LENOVO" value="" required>
                            </div>

                            <input type="text" class="form-control fs-5 border border-dark" id="mar_codigo"
                            name="mar_codigo" value="" style="display: none;" >

                        </div>

                    </div>
                    <div class="modal-footer">

                        <span id="mensaje_marca"></span>

                        <button type="submit" class="btn btn-success" id="save-marca"><i class="fas fa-save"></i> Guardar</button>

                        <button type="submit" class="btn btn-primary" id="edit-marca"><i class="fas fa-save"></i> Editar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/marcas.js"></script>

</div>