<div class="table-responsive " style="margin-top: auto;">
    <table id="table_buscar_inventarios" width="100%" cellspacing="0" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">id</th>
                <th class="text-center" scope="col">Codigo</th>
                <th class="text-center" scope="col">Serie</th>
                <th class="text-center" scope="col">Categoria</th>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Marca</th>
                <th class="text-center" scope="col">Modelo</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col" id="countEntrega">Entregar (0)</th>
            </tr>
        </thead>
        <tbody class="text-center">
            
            
        </tbody>
    </table>
</div>